#root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(241, 241, 241);
}

body {
    background-color: rgb(35, 36, 46);
}

#mission-list {
    /* display: grid; */
    /* 3 columns, same width for each */
    /* grid-template-columns: repeat(3, 1fr) */
    max-width: 900px;
    margin: auto;
}

h1 {
    width: fit-content;
    margin: 20px auto;
}

/* A mission card and its mission actions */
#mission {
    margin: 10px;
    border: 1px solid rgb(241, 241, 241);
    border-left-color: transparent;
    border-right-color: transparent;
    padding: 10px 20px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons {
    font-family: inherit;
    font-size: medium;
    font-weight: 600;
    padding: 10px;
    border: 0px transparent;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    color: rgb(35, 36, 46);
}

#filter-buttons {
    display: flex;
    justify-content:center;
}

button {
    margin-left: 10px;
}
