<%- include('partials/header'); -%>

<form>
    <h2>Log In</h2>
    
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="error email"></div>

    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="error password"></div>

    <button type="submit">Log In</button>
</form>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', (ev) => {
        ev.preventDefault();

        // get values
        const email = form.email.value; // form.name.value retrieves current value of input field
        const password = form.password.value;
        console.log(email, password)
    });
    
</script>

<%- include('partials/footer'); -%>
