<%- include('partials/header'); -%>

<form>
    <h2>Sign Up</h2>

    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="error email"></div>

    <label for="password">Password</label>
    <!-- input type password makes the little dots show up -->
    <input type="password" name="password" required />
    <div class="error password"></div>

    <button type="submit">Sign Up</button>
</form>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (ev) => {
        ev.preventDefault();

        // reset errors from last time, if they exist
        emailError.textContent = "";
        passwordError.textContent = "";

        // get values
        const email = form.email.value; // form.name.value retrieves current value of input field
        const password = form.password.value;
        
        try {
            // use fetch to call the post method we wrote for the route /signup, signup_post()
            const res = await fetch("/signup", {
                method: "POST",
                body: JSON.stringify({ email: email, password }), // email and password field and value have same name, you can combine them into one
                headers: { "Content-Type": "application/json" }
            });
            const data = await res.json(); // will either be user's information or an error json object
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user) {
                location.assign("/"); // information was good; redirect to homepage
            }
        } 
        catch (error) {
            console.log(error);
        }

    });
</script>

<%- include('partials/footer'); -%>
