<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging Site | <%= title %></title>
</head>

<body>
    <p>Homepage</p>
    <nav>
        <ul>
            <li><a href="/">All Blogs</a></li>
            <li><a href="/blogs/create">Make new blog</a></li>
        </ul>
    </nav>

    <div>
        <h2>All Blogs</h2>
        <!-- dynamic content using ejs -->
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>

                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>

            <% }) %>
        <% } else { %>
            <p>No blogs to display.</p>
        <% } %>
    </div>
</body>

</html>