<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging Site | <%= title %></title>
    <!-- Styles; probably uses path relative from the chosen folder, /public in this case, so it goes to public/styles.css -->
    <link rel="stylesheet" href="/styles.css">
</head>