#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: large;
    margin: auto 5px;
}

#card {
    position: absolute;
    left: 0;
    right: 0;
    /* margin-inline controls the margins of an inline item; auto here makes it be in the center */
    margin-inline: auto;
}

#deck {
    margin: 20px;
}
